/flashrom-v1.0.1/*.d
/flashrom-v1.0.1/*.o
/flashrom-v1.0.1/.features
/flashrom-v1.0.1/.dependencies
/flashrom-v1.0.1/.libdeps
/flashrom-v1.0.1/build_details.txt
/flashrom-v1.0.1/flashrom
/flashrom-v1.0.1/flashrom-*
/flashrom-v1.0.1/flashrom.exe
/flashrom-v1.0.1/flashrom.8
/flashrom-v1.0.1/libflashrom-doc/

/flashrom-v1.0.1/util/ich_descriptors_tool/ich_descriptors_tool
/flashrom-v1.0.1/util/ich_descriptors_tool/ich_descriptors_tool.exe
/flashrom-v1.0.1/util/ich_descriptors_tool/.dep
/flashrom-v1.0.1/util/ich_descriptors_tool/.obj

/flashrom-v1.0.1/.vscode
